* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.global-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.lista-tarefa-container {
    min-height: 400px;
    width: 90vw;
    border-radius: 20px;
    border: solid 1px black;
}

.cadastro-container {
    padding-top: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

.pesquisar-container {
    padding-top: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

